<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Items</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'Categories', categories_path %></td>
     </tr>
     <tr>
       <td><%= link_to 'Places', admin_places_path %></td>   
     </tr>
  </tbody>
</table>
