<h1>Places</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Accepted</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
	      <td><%= link_to place.name, place %></td>
	      <% if place.accepted == false %>
	        <td><%= link_to "Accept", admin_accept_place_path(:place =>place) %>
	      <% else %>
	        <td>Accepted</td> 
	      <% end %>
	      <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    	</tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Back', admin_index_url %></p>
