<%= form_for [@place, Review.new] do |f| %>
  <div class="form-group">
    <p><%= f.text_area :body, :required => true %></p>
    Quality of food:
    <%= f.select :food, [1, 2, 3, 4, 5], :required => true %>
    Service quality:
    <%= f.select :service, [1, 2, 3, 4, 5], :required => true %>
    Interior:
    <%= f.select :interior, [1, 2, 3, 4, 5], :required => true %>
  </div>
  <%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>