<div class = "form-group"> 
  <p><%= review.user.name %> said:</p>
  <p><%= review.body %></p>
  <p>Quality of Food: <%= review.food %></p>
  <p>Service quality: <%= review.service %></p>
  <p>interior: <%= review.interior%></p>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Delete", [@place, review], :method => :delete, data: { confirm: "Are you Sure?" } %> 
  <% end %>
</div>
