<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :place_name, :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :place_description, :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, :required => true) %>
  </div>
  
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, :required => true %>
  </div>
  
  <div class="form-group">
    <%= form.label "You must agree" %>
    <%= form.check_box :agreement, :required => true %>
  </div>
 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
