<p id="notice"><%= notice %></p>

<h1>Places</h1>

<div class="container-fluid">
  <p>Categories</p>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, places_path(:category=>category.id) %></li>
      <% end %>
    </ul>
  <div class="row">
    <% @places.each do |place| %>
      <div class="col">
        <p><%=image_tag place.image.url(:medium) %></p>
        <p><%= link_to place.name, place_path(place) %></p>
      </div>
    <% end %>
  </div>
  <%= will_paginate @places %>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>
