<p id="notice"><%= notice %></p>

<p>
  <strong><%= @place.name %></strong>
</p>

<p>
  <%= @place.description %>
</p>
<p>
  <%= image_tag @place.image.url(:medium) %>
</p>
<p>Ratings</p>
<p>Overall: <%= @overall_average %></p>
<p>Quality of food: <%= @food_average %></p>
<p>Service quality: <%= @service_average %></p>
<p>Interior: <%= @interior_average %></p>
<hr />
<p>Reviews</p>
<% @place.reviews.each do |review| %>
  <%= render partial: "reviews/review", :locals => {:review => review} %>
  <hr />
<% end %>
<p><strong>Add Review</strong></p>
<%= render partial: "reviews/form" %>

<% if current_user && current_user.id == @place.user.id %>
<%= link_to 'Edit', edit_place_path(@place) %> |
<% end %>
<%= link_to 'Back', url_for(:back) %>
